{% extends 'base-front.html.twig'%}


{% block body %}
    <h1>Mettre à jour Course</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_course_showfr') }}">Retour au liste </a>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
