
{% extends 'base-back.html.twig'%}
{% block body %}

<h1 class="text-center mt-5 mb-3">Liste des Colis</h1>
</br>

	<table class="table">
		<thead>
			<tr>

				
				<th>Description</th>
				<th>Nombre objets</th>
				<th>Poids</th>
				{# <th>actions</th> #}
			</tr>
		</thead>
		<tbody>
			{% for coli in colis %}
				<tr>
                    <td>{{ coli.description }}</td>
					<td>{{ coli.nbItems }}</td>
					<td>{{ coli.poids }}</td>
					{# <td>
						<a href="{{ path('app_colis_show', {'id': coli.id}) }}">show</a>
					
					</td> #}
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucun Colis</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	


{% endblock %}

