{% extends 'base-front.html.twig'%}
{% block body %}
<link href="{{asset("css/form-css.css")}}" rel="stylesheet">
<div class="centerdiv">
	

	{{ include('vehicule/_form.html.twig') }}

</div>
<br><br>

{% endblock %}

