{% extends 'base-back.html.twig'%}
<link href="{{asset("css/form-css.css")}}" rel="stylesheet">
{% block body %}
	<h1>Gérer Reclamations</h1>
    <div class="card">
    <div class="img-container">
        <div class="img">
        </div>
        <div class="description card">
            <span class="title">
                Card
            </span>
        </div>
    </div>
</div>
{% endblock %}