{% extends 'base-front.html.twig'%}
{% block body %}
<link href="{{asset("css/cardreclamation.css")}}" rel="stylesheet">
	<div class="container bod">
    <h1 class="title">Reclamations</h1>
    <div class="row">
    {% for i in reclamations %}
    <div class="card col-3">
  <div class="card-overlay"></div>
  <div class="card-inner">{{i.message}}</div>
  <div class="card-inner etat">{{i.etat}}</div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}