.centerdiv {
    margin-top: 2rem;
}

.input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.input-group>.col {
    flex: 1;
    margin-right: 1px;
    margin-left: -1px;
}

.input-group>.col>.form-control1 {
    width: 45%;
}