{% extends 'base-back.html.twig'%}


{% block body %}
 

    {{ include('offre_course/_form.html.twig') }}

    <a href="{{ path('app_offre_course_index') }}">Retour</a>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% endblock %}
