
{% block body %}
	{# {{ include('sms/_form.html.twig') }}<br> #}
    {{form(form)}}
    	<a href="{{ path('app_colis_all') }}">back to list</a>
	{# <a href="{{ path('app_livraison_byuser',{'id': app.user.id}) }}">back to list</a> #}
{% endblock %}
