    {% extends 'base-front.html.twig'%}


    {% block body %}
        <h1>Create new Location</h1>

        {{ include('location/_form.html.twig') }}

        <a href="{{ path('app_vehicule') }}">back to list</a>
    {% endblock %}
