{% extends 'base-front.html.twig'%}

{% block body %}
	<h1>Modifier utilisateur</h1>

	{{ include('utilisateur/_form.html.twig', {'button_label': 'Modifier'}) }}

	<a href="{{ path('app_utilisateur_showfr', {'id': utilisateur.id}) }}">Retour</a>


{% endblock %}
