{% extends 'base-back.html.twig'%}
{% block body %}
    <h1>Edit Commentaire</h1>

    {{ include('commentaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commentaire_index') }}">Retour</a>

 
{% endblock %}
