{% extends 'base-back.html.twig'%}
{% block body %}
<div class="pagetitle">

      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
</div><!-- End Page Title -->

     <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div >
          <div class="row">
         
          <!-- Website Traffic -->
          <div class="card col-lg-8">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Conducteur</a></li>
                <li><a class="dropdown-item" href="#">Client</a></li>
                
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Utilisateurs par rôle <span>|Aujourd'hui </span></h5>

              <div id="trafficChart" style="min-height: 400px;" class="echart"></div>
             <div class="js-user-rating"
                data-cond={{cond}}
                data-client={{client}}>
             </div>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                   var userRating = document.querySelector('.js-user-rating');
                  var cd = userRating.dataset.cond;
                  var cl = userRating.dataset.client;
                  echarts.init(document.querySelector("#trafficChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '5%',
                      left: 'center'
                    },
                    series: [{
                      name: 'Access From',
                      type: 'pie',
                      radius: ['40%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: [{
                          value: cd ,
                          name: 'Conducteur'
                        },
                        {
                          value: cl ,
                          name: 'client'
                        },
                        ]
                    }]
                  });
                });
              </script>

            </div>
          </div><!-- End Website Traffic -->

       
          
          <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Aujourd'hui</a></li>
                   
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title"> Nombre des Utilisateurs <span>| Aujourd'hui</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{cond + client }}</h6>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->
            </div>
      </div><!-- End Left side columns -->    

      </div>
    </section>
{% endblock %}