{% extends 'base-front.html.twig'%}
{% block body %}
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Fi Thenyti<span>.</span></h1>
          <h2>Nous sommes toujours sur le même chemin </h2>
          {{dump(advice)}}
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
           <img src="{{asset("front/img/car.png")}}" style="width: 40%; height: 60%" /> 
            <h3><a href="">Course</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <img src="{{asset("front/img/colis.png")}}" style="width: 40%; height: 60%" />
            <h3><a href="">Livraison</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
             <img src="{{asset("front/img/location.png")}}" style="width: 40%; height: 60%" />
            <h3><a href="">Location</a></h3>
          </div>
        </div>
        
        
      </div>

    </div>
  </section><!-- End Hero -->
  
{% endblock %}