{% extends 'base-front.html.twig'%}
{% block body %}
    <h1>Ajouter une voiture</h1>

    {{ include('voiture/_form.html.twig') }}

    <a href="{{ path('app_voiture_index') }}">back to list</a>
{% endblock %}
